// Colors
$color-primary-100: #73467b;
$color-primary-50: #f1ecf6;
$color-text-100: #000000;
$color-text-50: #74777e;
$color-background: #ffffff;
$color-error: #c70b3d;
$color-success: #0a900a;

// Typography
$font-body: 'Roboto', sans-serif;
$font-weight-normal: 400;
$font-weight-medium: 500;
$text-m: 0.875rem;

// Breakpoints
$breakpoint-sm: 40rem;
$breakpoint-md: 48rem;
$breakpoint-lg: 64rem;
$breakpoint-xl: 80rem;
$breakpoint-2xl: 96rem;

// Spacing
$space-xs: 0.4375rem;
$space-s: 0.625rem;
$space-m: 0.9375rem;
$space-l: 1.25rem;
$space-xl: 2.5rem;
