@use './variables';

:root {
  // Colors
  --color-primary-100: #{variables.$color-primary-100};
  --color-primary-50: #{variables.$color-primary-50};
  --color-text-100: #{variables.$color-text-100};
  --color-text-50: #{variables.$color-text-50};
  --color-background: #{variables.$color-background};
  --color-accent-100: #{variables.$color-accent-100};
  --color-error: #{variables.$color-error};
  --color-success: #{variables.$color-success};

  // Typography
  --font-body: #{variables.$font-body};
  --font-weight-normal: #{variables.$font-weight-normal};
  --font-weight-medium: #{variables.$font-weight-medium};
  --text-m: #{variables.$text-m};
  --text-s: #{variables.$text-s};
  --leading-m: #{variables.$leading-m};

  // Spacing
  --space-xs: #{variables.$space-xs};
  --space-s: #{variables.$space-s};
  --space-m: #{variables.$space-m};
  --space-l: #{variables.$space-l};
  --space-xl: #{variables.$space-xl};

  // Base Styles
  --rounded: #{variables.$rounded};
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

*:focus-visible {
  box-shadow: 0 0 0 2px var(--color-accent-100);
  outline: none;
}

body {
  color: var(--color-text-100);
  background: var(--color-background);
  font-family: var(--font-body);
  font-size: var(--text-body);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: var(--color-primary-100);
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--space-m);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.grecaptcha-badge {
  visibility: hidden;
}
